.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}

.control-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;

  p-floatlabel, button {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.button-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
